<!DOCTYPE html>
<html>
<head>
  <title>The Booking Oasis</title>
  <%= stylesheet_link_tag 'stile/styles', media: 'all' %>
</head>
<body>

<header>
  The Booking Oasis
</header>

<main>
  <h1>New Room</h1>

  <%= render 'form', room: @room %>

  <%= link_to 'Back', admin_rooms_path, class: 'back-link' %>
</main>

<footer>
  Created by "Team 5"
</footer>

</body>
</html>
